[user]
	name = Sean Lawlor
	email = blue.dusk0520@fastmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
	st = status -sb
	lg = log --graph --pretty=format:'%Cred%h%Creset %s' --abbrev-commit
[color]
	ui = auto
[diff]
	colorMoved = default
# touch backup script
# cleanup whitespace
# minor shell cleanup
# readme wording
# adjust vim setting
